/azure/IoTGateway/SiRSensors.WinRT/obj
/azure/IoTGateway/SiRSensors.WinRT/bin
/azure/IoTGateway/M2Mqtt/obj
/azure/IoTGateway/IoTGateway/obj
/azure/IoTGateway/IoTGateway/bin
/azure/IoTGateway/bin
/azure/IoTGateway/IoTCloud/project.lock.json
/azure/IoTGateway/IoTCloud/bin
/azure/IoTGateway/IoTCloud/obj
/azure/IoTGateway/SiRBroker/obj
/azure/IoTGateway/SiRBroker/bin
