/azure/IoTGateway/SiRSensors.WinRT/obj
/azure/IoTGateway/SiRSensors.WinRT/bin
/azure/IoTGateway/M2Mqtt/obj
/azure/IoTGateway/IoTGateway/obj
/azure/IoTGateway/IoTGateway/bin
/azure/IoTGateway/bin
/azure/IoTGateway/IoTCloud/project.lock.json
/azure/IoTGateway/IoTCloud/bin
/azure/IoTGateway/IoTCloud/obj
/azure/IoTGateway/SiRBroker/obj
/azure/IoTGateway/SiRBroker/bin
/SIoTGateway/SIotGatewayCore/bin
/SIoTGateway/Cooler/bin
/SIoTGateway/SensorModuleSimulator/bin
/SIoTGateway/SiRSensors/bin
/SIoTGateway/Common/bin
/SIoTGateway/DeviceRegister/bin
/SIoTGateway/Main/bin
/SIoTGateway/Infrastructure/bin
/SIoTGateway/SIoTBrorker/bin
/azure/IoTGateway/IoTGateway/IoTGateway.UWP.csproj.user
/azure/IoTGateway/IoTGateway/project.json.REMOTE.json
/azure/IoTGateway/IoTGateway/project.json.LOCAL.json
/azure/IoTGateway/IoTGateway/project.json.BASE.json
/azure/IoTGateway/IoTGateway.Common/bin
/azure/IoTGateway/IoTGateway.Common/obj
/azure/IoTGateway/SiRSensors/SiRSensors.UWP.csproj.user
/azure/IoTGateway/SiRSensors/obj
/azure/IoTGateway/SiRSensors/bin
/DeviceRegister/.vs/DeviceRegister/v14
/SIoTGateway/.vs
/SIoTGateway/Common/obj
/SIoTGateway/Common.WPF/obj/Debug
/azure/IoTGateway/packages/M2Mqtt.4.3.0.0
/azure/IoTGateway/IBMWatsonIoTP/obj/Debug
/azure/IoTGateway/IBMWatsonIoTP/bin/Debug
/azure/IoTGateway/.vs
/SIoTGateway/Cooler/obj/x64/Debug
/SIoTGateway/DeviceRegister/obj/Debug
/SIoTGateway/Infrastructure/obj/x64/Debug
/SIoTGateway/Main/obj/x64/Debug
/SIoTGateway/SensorModuleSimulator/.vs/SensorModuleSimulator/v14
/SIoTGateway/SensorModuleSimulator/obj
/SIoTGateway/SIoTBrorker/obj/x64/Debug
/SIoTGateway/SIotGatewayCore/obj/x64/Debug
/SIoTGateway/SiRSensors/obj
/SIoTGateway/SensorModuleSimulator/SensorModuleSimulator.csproj.user
/DeviceRegister/Build_Output/Debug
/DeviceRegister/Common/obj/Debug
/ShimadzuIoT/azure-iot-sdks
/ShimadzuIoT/.vs
/ShimadzuIoT/packages
/ShimadzuIoT/ShimadzuIoTGateway/project.lock.json
/ShimadzuIoT/Common.UWP/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/service/Samples/UWPSample/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/service/Microsoft.Azure.Devices.Uwp/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/device/tests/Microsoft.Azure.Devices.Client.Tests.UWPTests/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/device/samples/UWPSample/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/device/Microsoft.Azure.Devices.Client.WinRT/project.lock.json
/ShimadzuIoT/azure-iot-sdks/csharp/device/Microsoft.Azure.Devices.Client.PCL/project.lock.json
/ShimadzuIoT/DeviceAdministration/Infrastructure.UWP/project.lock.json
/ShimadzuIoT/DeviceAdministration/Infrastructure/*.user
/DeviceRegister/packages
/DeviceRegister/SIoTGatewayCore/*.user
/DeviceRegister/Sensors/Acceleration/*.user
/DeviceRegister/Sensors/SensorBase/*.user
/ShimadzuIoT
